<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

Here are pieces in the item {{itemID}}:

<table>
	<th>ItemID</th>
	<th>pieceNum</th>
  <th>location_roomNum</th>
  <th>location_shelfNum</th>

{% for line in pieces %}
	<tr>
		<td>{{line.ItemID}}</td>
		<td>{{line.pieceNum}}</td>
    <td>{{line.roomNum}}</td>
    <td>{{line.shelfNum}}</td>
	</tr>
{% endfor %}
</table>

<br>
<br>
<a href="/home">Back to home</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>

</html>
