<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<h1>There are {{quantity}} items in order {{orderID}} : </h1>

{% for item in items %}

<br>
<h2>There's {{ items.quantitynum }} {{ items.itemID }} in this order</h2>
<br>
<h2> Here are its pieces:</h2>

<table>
	<th>pieceNum</th>
  <th>location_roomNum</th>
  <th>location_shelfNum</th>

  {% for line in item.pieces %}
	  <tr>
		  <td>{{line.pieceNum}}</td>
      <td>{{line.roomNum}}</td>
      <td>{{line.shelfNum}}</td>
	  </tr>
  {% endfor %}

</table>

{% endfor %}

<br>
<br>
<a href="/person">Back to home</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>

</html>
