<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1>

<form action="/action_find_item" method="POST">
  <label for="itemID"> Enter a itemID: </label>
	<input type="number" name = "itemID" placeholder="itemID" required/> </br>
	<input type="submit" value = Find_it />
</form>

<form action="/action_find_order" method="POST">
  <label for="orderID"> Enter an orderID: </label>
	<input type="number" name = "orderID" placeholder="orderID" required/> </br>
	<input type="submit" value = Find_it />
</form>

<form action="/action_accept_donation" method="POST">
  <label for="donorname"> Start a donation: </label>
	<input type="text" name = "donorname" placeholder="donorname" required/> </br>
	<input type="submit" value = donate />
  {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
  {% if success %}
    <p class="success"><strong>Success:</strong> {{success}}</p>
  {% endif %}
</form>


<br>
<a href="/start_order">Start Order</a>
{% if error %}
        <p class="error" style="color:red ;"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
<br>
<a href="/prepare_order">Prepare Order</a>
<br>
<a href="/user_orders">View Orders</a>
<br>
<a href="/logout">Logout</a>


</body>

</html>
